.about {
    width: 100%;
    height: 100vh;
}
.about__title--area {
    width: 30%;
    height: 20%;
    margin-left: 5%;
}
.about__title {
    width: 292px;
    height: 74px;
    font-family: 'Hiragino Kaku Gothic StdN';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    padding-top: 15%;
    color: #FFFFFF;
}
.about__subtitle {
    display: block;
    margin-top: -10%;
    font-family: 'Webdings';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.about__content--area {
    width: 90%;
    height: 80vh;
    margin: 5% auto;
}
.about__content {
    font-family: 'Hiragino Kaku Gothic Std';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 50px;
    /* or 200% */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}
