.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px solid white;
}

.footer__leftbox {
    width: 10%;
    height: 100%;
    margin-left: 2%;
}

.footer__rightbox {
    width: 20%;
    height: 100%;
    display: flex;
    margin-top: 2%;
    margin-right: -5%;
    justify-content: safe;
}
.footer__rightbox ul li a{
    color: white;
    text-decoration: none;
}
#page-top {
    width: 20%;
    height: 15%;
    text-align: center;
    background-color: aliceblue;
    color: black;
}
#page-top a {
    text-decoration: none;
}

